// imported the fonts: Eczar and Work Sans

@import url('https://fonts.googleapis.com/css?family=Eczar:400,700|Work+Sans:300,400,500,800');

// font family
$ff-ss: 'Work Sans', sans-serif;
$ff-s: 'Eczar', serif;
// font weight
$fw-l: 300;
$fw-r: 400;
$fw-m: 500;
$fw-b: 700;
$fw-x: 800;
